<!DOCTYPE html>
<html lang="ja">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>ToDo List</title>
  <link rel="stylesheet" href="../css/style.css" type="text/css" media="screen">
</head>

<body>
<div id="formWrapper">
  <label for="taskInput">タスク名を入力してください:</label>
  <input type="text" id="taskInput" name="taskInput" />
  <input type="button" id="submitButton" value="登録" onclick="submit()" />
</div>

<div id="todoListWrapper">
  <h1>ToDo List</h1>
  <ul id="todoList">
  </ul>
</div>

<div id="doneListWrapper">
  <h1>Done List</h1>
  <ul id="doneList"></ul>
</div>

<script src="/js/script.js" type="text/javascript"></script>
</body>
</html>